@model sistema_estacionamento.Models.Estacionamento;

@{
    ViewData["Title"] = "Encerrar sistema";
}

<div class="d-flex row">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdHhvbGJlNGpyY25qd2tpeXluZXR4enZtamR2ZnIwdHo0bW4xM25mYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/dZAtisreEIo5HkGU3w/giphy.gif"
            width="200" height="200" alt="">

        <p class="my-3">Espero que seu dia tenha sido bom.</p>
    </div>
</div>
